@font-face {
    font-family: 'League Gothic';
    src: url(../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf);
    src:url(../fonts/LeagueGothicRegular/LeagueGothicRegular.eot);
    src:url(../fonts/LeagueGothicRegular/LeagueGothicRegular.woff);

}
