body {
    background: url(../img/backgroung_body.jpg) repeat-x #0c739f;
    font-family: Tahoma, Arial, sans-serif;
}

.wraper {
    width: 1018px;
    height: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    padding: 11px 35px 0 28px;
    color: #128aa7;
    font-size: 12px;
    -webkit-box-shadow: 1px 0 9px 1px rgba(0,0,0,.75);
    -moz-box-shadow: 1px 0 9px 1px rgba(0,0,0,.75);
    box-shadow: 1px 0 9px 1px rgba(0,0,0,.75);
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.header_logo {
    position: relative;
    float: left;
}

.header_logo p {
    position: absolute;
    left: 73px;
    top: 104px;
}

.logo_asia_holidays_palms {
    display: block;
    width: 283px;
    height: 164px;
}

.header_contacts {
    float: right;
}

.header_contacts p {
    line-height: 18px;
}

.header_contacts span {
    font-weight: 700;
}

.header_countries {
    float: right;
    clear: right;
    margin-top: 23px;
}

.header_countries li {
    display: inline-block;
}

.header_countries ul a {
    display: block;
    background: url(../img/logo_India.png) no-repeat;
    background-position-x: center;
    padding-top: 45px;
    width: 62px;
    height: 24px;
    text-align: center;
    color: #128aa7;
    font-size: 10px;
}

.header_countries li:nth-child(2) a {
    background: url(../img/logo_Nepal.png) no-repeat;
    background-position-x: center;
}

.header_countries li:nth-child(3) a {
    background: url(../img/logo_Tibet.png) no-repeat;
    background-position-x: center;
}

.header_countries li:nth-child(4) a {
    background: url(../img/logo_Butan.png) no-repeat;
    background-position-x: center;
}

.header_countries li:nth-child(5) a {
    background: url(../img/logo_Shri_Lanka.png) no-repeat;
    background-position-x: center;
}

.header_countries li:nth-child(6) a {
    background: url(../img/logo_Maldives.png) no-repeat;
    background-position-x: center;
}

.slider img {
    display: block;
    width: 100%;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #138aa7;
}

nav {
    width: 100%;
    height: 40px;
    margin-bottom: 4px;
    background: #343434;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .75);
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
}

.inline_menu li {
    display: inline-block;
    line-height: 40px;
    text-align: center;
}

.inline_menu>li:first-child {
    width: 175px;
}

.inline_menu>li:nth-child(2) {
    width: 150px;
}

.inline_menu>li:nth-child(3) {
    width: 118px;
}

.inline_menu>li:nth-child(4) {
    width: 135px;
}

.inline_menu>li:nth-child(5) {
    width: 188px;
}

.inline_menu>li:nth-child(6) {
    width: 87px;
}

.inline_menu>li:nth-child(7) {
    width: 135px;
}

.inline_menu a {
    display: block;
}

.inline_menu>li:nth-child(2)>a {
    background: url(../img/white_triangle.png) no-repeat;
    background-position: 130px 18px;
}

.inline_menu>li:nth-child(3)>a {
    background: url(../img/white_triangle.png) no-repeat;
    background-position: 94px 18px;
}

.inline_menu>li:nth-child(4)>a {
    background: url(../img/white_triangle.png) no-repeat;
    background-position: 115px 18px;
}

.trips,
.services,
.to_partners {
    position: relative;
}

.dropdown_menu {
    display: none;
}

.trips:hover .dropdown_menu,
.services:hover .dropdown_menu,
.to_partners:hover .dropdown_menu {
    display: block;
}

.dropdown_menu li {
    width: 100%;
}

.dropdown_menu_trips {
    position: absolute;
    left: 17px;
    width: 150px;
    background-color: #303030;
    border-top: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);

}

.dropdown_menu_services {
    position: absolute;
    left: 14px;
    width: 118px;
    background-color: #303030;
    border-top: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
}

.dropdown_menu_to_partners {
    position: absolute;
    left: 14px;
    width: 135px;
    background-color: #303030;
    border-top: 1px solid black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
}

.content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
    margin-bottom: 12px;
}

.content h2 {
    color: #424c43;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 8px;
}

.content a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #424c43;
    text-decoration: none;
}

.sidebar_left {
    width: 219px;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
}

main {
    width: 580px;
}

.sidebar_right {
    width: 219px;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
}

footer p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}
